.card:nth-last-child(2) {
  margin-right: 15px;
}
.card {
  margin-right: 15px;
  margin-left: 15px;
}
.pets_slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  max-width: 1200px;
  width: 100%;
  min-height: 435px;
}
.li_item:nth-last-child(3) {
  border-bottom: solid 3px #f1cdb3;
}
.li_item:nth-last-child(4) {
  border-bottom: 0px;
}
.button_paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.cozy_logo {
  color: #545454;
}
.cozysub {
  color: #292929;
}
.navigation_pets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 430px 100px;
  width: 340px;
  text-align: center;
}

.button_checked {
  background-color: #f1cdb3;
}
.header {
  margin-bottom: 10%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .pets_slider {
    justify-content: center;
  }
  .navigation_pets {
  }
  .pets {
    align-items: center;
  }
}
@media (max-width: 320px) {
  .pets {
    margin-top: 30%;
  }
  .card {
    margin-bottom: 15%;
  }
  .navigation_pets {
    width: 90%;
  }
}

