@font-face {
  font-family: "Georgia_reg";
  font-style: normal;
  src: url("../fonts/georgia/georgia-regular.ttf");
}
@font-face {
  font-family: "Georgia";
  font-style: bold;
  src: url("../fonts/georgia/georgia-bold.ttf");
}
@font-face {
  font-family: "Arial_reg";
  font-style: normal;
  src: url("../fonts/arial/arial-regular.ttf");
}
@font-face {
  font-family: "Arial";
  font-style: bold;
  src: url("../fonts/arial/arial-bold.ttf");
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: auto;
}
.color_bg_k {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    #211f20;
  background-image: url("/img/start-screen-gradient-background.png");
}
.color_bg_w {
  background: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}
.logo {
  height: 60px;
  flex-direction: column;
}
.cozysub {
  display: flex;
  justify-content: flex-end;
  width: 179px;
  height: 15px;
  margin-top: 10px;
  margin-left: 5px;
  color: #ffffff;
  font-family: "Arial_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.09em;
}
.cozy_logo {
  width: 186px;
  height: 35px;
  margin: 0px;
  color: #f1cdb3;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
}
.nav_li {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 443px;
  height: 27px;
  list-style-type: none;
}

.li_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  margin-right: 32px;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
.li_item:last-child {
  margin-right: 0px;
}
.li_item:nth-last-child(4) {
  border-bottom: solid 3px #f1cdb3;
}
.header_link {
  color: #cdcdcd;
  text-decoration: none;
}
.header_link:hover,
.header_link:active {
  border-bottom: solid 3px #f1cdb3;
}
.start_content {
  margin-top: 90px;
  max-width: 1200px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.start_screen {
  max-width: 698px;
  min-height: 728px;
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  max-width: 460px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 163px;
}
.heading_con {
  max-width: 310px;
  width: 100%;
  height: 114px;
  margin: 0px;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
  color: #ffffff;
}
.subheading_con {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  height: 72px;
  margin-top: 42px;
  font-family: "Arial_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
}
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  min-height: 588px;
  height: 100%;
}
.about_pets {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-left: 215px;
}
.pets_content {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-height: 380px;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-top: 94px;
}
.header_pets {
  max-width: 370px;
  width: 100%;
  min-height: 90px;
  margin: 0;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets_text {
  text-align: left;
  max-width: 430px;
  width: 100%;
  min-height: 96px;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: "Arial_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.pets {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  min-height: 877px;
  height: 100%;
  background-color: #f6f6f6;
}
.friends {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  color: #545454;
  max-width: 400px;
  width: 100%;
  height: 90px;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
}
.pets_slider {
  max-width: 1200px;
  width: 100%;
  min-height: 435px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 435px;
  margin-right: 90px;
}
.card:nth-last-child(2) {
  margin-right: 0px;
}
.p_card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.72px;
  color: #545454;
  align-items: center;
}
.button_card {
  margin-left: auto;
  margin-right: auto;
  max-width: 187px;
  width: 100%;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  text-align: center;
  padding: 15px 45px;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
}
.batton_arrow_l {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-right: 53px;
  margin-bottom: auto;
  height: 52px;
  width: 52px;
  background-color: #f6f6f6;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.batton_arrow_r {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: 53px;
  margin-bottom: auto;
  height: 52px;
  width: 52px;
  background-color: #f6f6f6;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.button_slider {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 261px;
  height: 52px;
  align-items: center;
  justify-content: center;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 6%;
  color: #292929;
  margin-top: 60px;
}
.help {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  min-height: 431px;
  margin-left: auto;
  margin-right: auto;
}
.heading {
  width: 308px;
  height: 90px;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.list_help {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1026px;
  width: 100%;
  min-height: 281px;
  margin-left: auto;
  margin-right: auto;
}
.petfood {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 113px;
  margin-left: 119px;
}
.petfood:first-child {
  margin-left: 0px;
}
.petimg_1 {
  align-self: center;
  width: 47.86px;
}
.petimg_2 {
  align-self: center;
  width: 59.95px;
}
.petimg_3 {
  align-self: center;
  width: 60px;
}
.petimg_4 {
  align-self: center;
  width: 60px;
}
.petimg_5 {
  align-self: center;
  width: 31.3px;
}
.petimg_6 {
  align-self: center;
  width: 60px;
}
.petimg_7 {
  align-self: center;
  width: 60px;
}
.petimg_8 {
  align-self: center;
  width: 60px;
}
.petimg_9 {
  align-self: center;
  width: 56.29px;
}
.pet_p {
  align-self: center;
  font-family: "Georgia_reg";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
}
