.wrapper {
  width: 1280px;
  height: auto;
  margin: auto;
}
.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(33, 31, 32, 1);
  max-width: 1200px;
  height: 60px;
  color: black;
}
.logo {
  background-color: rgba(33, 31, 32, 1);
  color: aliceblue;
}
.nav_menu {
  display: flex;
  background-color: rgba(33, 31, 32, 1);
  justify-content: space-between;
  flex-direction: row;
  width: auto;
}
.nav_list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: aliceblue;
  flex-direction: row;
  flex-wrap: wrap;
}
